# Enable root login for initial ansible run
PermitRootLogin yes

# Limit authentication methods to prevent brute-force attacks
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Use public key authentication
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# Set login grace time
LoginGraceTime 1m

# Disable unused authentication methods
UsePAM yes
KerberosAuthentication no
GSSAPIAuthentication no

# Define allowed users (if you have a specific set of users)
AllowUsers bill hal root

# Disable X11 forwarding unless necessary
X11Forwarding no

# Disable TCP forwarding unless necessary
AllowTcpForwarding no

# Set a maximum number of authentication attempts
MaxAuthTries 3

# Define SSH protocol version
Protocol 2

# Use privilege separation for added security
# UsePrivilegeSeparation sandbox  # Remove or comment this line

# Set client and server alive intervals to keep connections alive and detect dead sessions
ClientAliveInterval 300
ClientAliveCountMax 2

# Specify a banner file for legal notices (optional)
Banner /etc/issue.net

# Logging settings
LogLevel VERBOSE
