- name: create group media
  tags: always
  ansible.builtin.group:
    name: media
    state: present
    gid: 1776

- name: create group docs
  tags: always
  ansible.builtin.group:
    name: docs
    state: present
    gid: 1787

- name: add hal to media and docs group
  tags: always
  user:
    name: hal
    groups: media,docs

- name: add bill to media and docs group
  tags: always
  user:
    name: bill
    groups: media,docs,sudo,adm,root

- name: add lily to media and docs group
  tags: always
  user:
    name: lily
    password: $6$JVFSW9aA2rusYAUF$Pcsft.DPNNsgnjSiRCQZ9pvRJAycwVX9clKcloH1AhprpkhzjEWNzUWGGuB0aksTbDMDWUEn8KFj9D0fOuVmv.
    groups: media,docs,sudo

- name: add packages workstations
  tags: workstations
  ansible.builtin.apt:
    pkg:
    - git
    - cmatrix
    - whois

- name: Install VS Code
  tags: workstations
  community.general.snap:
    name: code
    classic: true

- name: Recursively remove directories
  tags: workstations
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /home/bill/Music
    - /home/bill/Pictures
    - /home/bill/Templates
    - /home/bill/Videos
    - /home/lily/Music
    - /home/lily/Pictures
    - /home/lily/Templates
    - /home/lily/Videos

- name: Create bill & lily home directories 
  tags: workstations
  ansible.builtin.file:
    path: "{{ item.dest }}"      
    owner: "{{item.owner}}"
    group: "{{item.group}}"
    state: directory
  loop:
    - { dest: 'home/bill/Media', owner: 'bill', group: 'media' }
    - { dest: 'home/bill/paperless', owner: 'bill', group: 'docs' }
    - { dest: 'home/bill/paperless/media', owner: 'bill', group: 'docs' }
    - { dest: 'home/bill/paperless/data', owner: 'bill', group: 'docs' }
    - { dest: 'home/bill/paperless/consume', owner: 'bill', group: 'docs' }
    - { dest: 'home/lily/Media', owner: 'lily', group: 'media' }

- name: mount nfs share directories
  tags: workstations
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    opts: rw,sync
    state: mounted
    fstype: nfs
  loop:
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Desktop', path: '/home/bill/Desktop' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Downloads', path: '/home/bill/Downloads' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Public', path: '/home/bill/Public' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Documents', path: '/home/bill/Documents' }
    - { src: '192.168.86.90:/mnt/Data/multimedia/media', path: '/home/bill/Media' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Desktop', path: '/home/lily/Desktop' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Downloads', path: '/home/lily/Downloads' }
    - { src: '192.168.86.90:/mnt/ssd-files/home/bill/Documents', path: '/home/lily/Documents' }
    - { src: '192.168.86.90:/mnt/Data/multimedia/media', path: '/home/lily/Media' }
    - { src: '192.168.86.90:/mnt/ssd-files/paperless', path: '/home/bill/paperless' }
    - { src: '192.168.86.90:/mnt/ssd-files/paperless/consume', path: '/home/bill/paperless/consume' }
    - { src: '192.168.86.90:/mnt/ssd-files/paperless/data', path: '/home/bill/paperless/data' }
    - { src: '192.168.86.90:/mnt/ssd-files/paperless/media', path: '/home/bill/paperless/media' }

- name: Copy ssh config file for bill
  ansible.builtin.copy:
    src: /home/bill/semaphore/roles/workstations/tasks/files/config_bill
    dest: /home/bill/.ssh/config
    owner: bill
    group: bill
    mode: '0600'